config i2pd 'main'

	#
	# OpenWrt filesystem
	#
	option data_dir '/etc/i2pd'
	option netdb_dir '/etc/i2pd/netDb'
	option addressbook_dir '/etc/i2pd/addressbook'
	option tunnelsdir '/etc/i2pd/tunnels.d'
	option certsdir '/etc/i2pd/certificates'
	option pidfile '/var/run/i2pd.pid'

	#
	# Logging
	#
	option log 'stdout'
	option logfile '/var/log/i2pd/i2pd.log'
	option loglevel 'info'
	option logclftime '0'

	#
	# Process
	#
	# Do NOT enable daemon mode under OpenWrt.
	# procd manages the process.
	#
	option daemon '0'

	#
	# Network
	#
	option family ''
	option ifname ''
	option ifname4 ''
	option ifname6 ''

	option address4 ''
	option address6 ''
	option host ''
	option port '4567'

	option ipv4 '1'
	option ipv6 '0'

	#
	# NAT / network behaviour
	#
	option nat '0'
	option reservedrange '0'

	#
	# Bandwidth
	#
	option bandwidth 'X'
	option share '100'

	#
	# Router mode
	#
	option notransit '0'
	option floodfill '0'
	option stan '0'

	#
	# NTCP2
	#
	option ntcp2_enabled '1'
	option ntcp2_published '1'
	option ntcp2_port '4567'

	#
	# SSU2
	#
	option ssu2_enabled '1'
	option ssu2_published '1'
	option ssu2_port '4567'

	#
	# HTTP Web Console
	#
	option http_enabled '1'
	option http_address '192.168.1.1'
	option http_port '7070'
	option http_webroot '/'
	option http_auth '0'
	option http_user 'i2pd'
	option http_pass 'changeme'
	option http_lang 'english'

	#
	# HTTP Proxy
	#
	option httpproxy_enabled '1'
	option httpproxy_address '192.168.1.1'
	option httpproxy_port '4444'
	option httpproxy_keys 'http-proxy-keys.dat'
	option httpproxy_addresshelper '1'
	option httpproxy_outproxy 'http://false.i2p'

	#
	# SOCKS Proxy
	#
	option socksproxy_enabled '1'
	option socksproxy_address '192.168.1.1'
	option socksproxy_port '4447'
	option socksproxy_keys 'socks-proxy-keys.dat'
	option socksproxy_outproxy_enabled '0'
	option socksproxy_outproxy '192.168.1.1'
	option socksproxy_outproxyport '9050'

	#
	# SAM
	#
	option sam_enabled '0'
	option sam_address '192.168.1.1'
	option sam_port '7656'
	option sam_portudp '7655'

	#
	# BOB
	#
	option bob_enabled '0'
	option bob_address '192.168.1.1'
	option bob_port '2827'

	#
	# I2CP
	#
	option i2cp_enabled '0'
	option i2cp_address '192.168.1.1'
	option i2cp_port '7654'

	#
	# I2PControl
	#
	option i2pcontrol_enabled '0'
	option i2pcontrol_address '192.168.1.1'
	option i2pcontrol_port '7650'
	option i2pcontrol_password 'itoopie'

	#
	# Precomputation
	#
	option precomputation_elgamal '0'

	#
	# UPnP
	#
	option upnp_enabled '0'
	option upnp_name 'I2Pd'

	#
	# Meshnets
	#
	option meshnets_yggdrasil '0'
	option meshnets_yggaddress ''

	#
	# Reseed
	#
	option reseed_verify '1'
	option reseed_urls 'https://reseed.i2p-projekt.de/,https://i2p.mooo.com/netDb/,https://netdb.i2p2.no/'
	option reseed_yggurls 'http://[324:71e:281a:9ed3::ace]:7070/'
	option reseed_file ''
	option reseed_zipfile ''
	option reseed_proxy ''
	option reseed_threshold '25'
	option reseed_followredirect '0'

	#
	# Addressbook
	#
	option addressbook_defaulturl 'http://shx5vqsw7usdaunyzr2qmes2fq37oumybpudrd4jjj4e4vk4uusa.b32.i2p/hosts.txt'
	option addressbook_subscriptions 'http://reg.i2p/hosts.txt,http://identiguy.i2p/hosts.txt,http://stats.i2p/cgi-bin/newhosts.txt'

	#
	# Limits
	#
	option limits_transittunnels '25000'
	option limits_openfiles '0'
	option limits_coresize '0'

	#
	# Trust
	#
	option trust_enabled '0'
	option trust_family ''
	option trust_routers ''
	option trust_hidden '0'

	#
	# Exploratory
	#
	option exploratory_inbound_length '2'
	option exploratory_inbound_quantity '3'
	option exploratory_outbound_length '2'
	option exploratory_outbound_quantity '3'

	#
	# Persist
	#
	option persist_profiles '1'
	option persist_addressbook '1'
