config i2pd 'main'
	option data_dir '/etc/i2pd'
	option ipv4 '1'
	option ipv6 '0'
	option nat '1'
	option reservedrange '1'
	option daemon '0'
	option bandwidth 'L'
	option share '100'
	option notransit '0'
	option floodfill '0'
	option stan '0'
	option netid '2'
	option tunnelsdir '/etc/i2pd/tunnels.d'
	option certsdir '/usr/share/i2pd/certificates'
	option pidfile '/var/run/i2pd.pid'
	option log 'stdout'
	option loglevel 'info'
	option logclftime '0'

	option ntcp2_enabled '1'
	option ntcp2_published '1'
	option ssu2_enabled '1'
	option ssu2_published '1'
	option ssu2_firewalled4 '0'
	option ssu2_firewalled6 '0'
	option ssu2_version '2'

	option http_enabled '1'
	option http_address '192.168.1.1'
	option http_port '7070'
	option http_auth '0'
	option http_strictheaders '1'
	option http_hostname 'localhost'
	option http_showTotalTCSR '0'
	option http_webroot '/'
	option http_lang 'english'
	option http_theme 'light'

	option httpproxy_enabled '1'
	option httpproxy_address '192.168.1.1'
	option httpproxy_port '4444'
	option httpproxy_addresshelper '1'
	option httpproxy_senduseragent '0'
	option httpproxy_signaturetype '7'
	option httpproxy_inbound_length '3'
	option httpproxy_inbound_quantity '5'
	option httpproxy_inbound_lengthVariance '0'
	option httpproxy_outbound_length '3'
	option httpproxy_outbound_quantity '5'
	option httpproxy_outbound_lengthVariance '0'
	option httpproxy_i2cp_leaseSetType '3'
	option httpproxy_i2p_streaming_profile '1'
	option httpproxy_i2p_streaming_maxWindowSize '512'
	option httpproxy_latency_min '0'
	option httpproxy_latency_max '0'
	option httpproxy_i2p_streaming_maxOutboundSpeed '1730000000'
	option httpproxy_i2p_streaming_maxInboundSpeed '1730000000'

	option socksproxy_enabled '1'
	option socksproxy_address '192.168.1.1'
	option socksproxy_port '4447'
	option socksproxy_signaturetype '7'
	option socksproxy_inbound_length '3'
	option socksproxy_inbound_quantity '5'
	option socksproxy_inbound_lengthVariance '0'
	option socksproxy_outbound_length '3'
	option socksproxy_outbound_quantity '5'
	option socksproxy_outbound_lengthVariance '0'
	option socksproxy_outproxy_enabled '0'
	option socksproxy_outproxyport '9050'
	option socksproxy_i2cp_leaseSetType '3'
	option socksproxy_i2p_streaming_profile '1'
	option socksproxy_i2p_streaming_maxWindowSize '512'
	option socksproxy_latency_min '0'
	option socksproxy_latency_max '0'
	option socksproxy_i2p_streaming_maxOutboundSpeed '1730000000'
	option socksproxy_i2p_streaming_maxInboundSpeed '1730000000'

	option sam_enabled '0'
	option sam_address '192.168.1.1'
	option sam_port '7656'
	option sam_portudp '7655'
	option bob_enabled '0'
	option bob_address '192.168.1.1'
	option bob_port '2827'
	option i2cp_enabled '0'
	option i2cp_address '192.168.1.1'
	option i2cp_port '7654'
	option i2pcontrol_enabled '0'
	option i2pcontrol_address '192.168.1.1'
	option i2pcontrol_port '7650'
	option precomputation_elgamal '1'
	option upnp_enabled '0'
	option upnp_name 'i2pd'
	option meshnets_yggdrasil '0'
	option reseed_verify '0'
	option reseed_threshold '25'
	option reseed_followredirect '1'
	option addressbook_enabled '1'
	option limits_transittunnels '10000'
	option limits_openfiles '0'
	option limits_coresize '0'
	option limits_zombies '0'
	option trust_enabled '0'
	option trust_hidden '0'
	option exploratory_inbound_length '2'
	option exploratory_inbound_quantity '3'
	option exploratory_outbound_length '2'
	option exploratory_outbound_quantity '3'
	option persist_profiles '1'
	option persist_addressbook '1'
